<doctype html5>
<html ng-app='audioDemo'>
	<head>
		<title>Angular Audio Demo</title>
		<script src='lib/underscore.js'></script>
		<script src='lib/angular.js'></script>
		<script src='angular.audio.js'></script>

		<link href="css/shCore.css" rel="stylesheet" type="text/css">
		<link href="css/shThemeDefault.css" rel="stylesheet" type="text/css">
		<link href="css/bootstrap.css" rel="stylesheet" type="text/css">
		<script src="lib/syntax/shCore.js" type="text/javascript"></script>
		<script src="lib/syntax/shAutoloader.js" type="text/javascript"></script>
		<script src="lib/syntax/shBrushXml.js" type="text/javascript"></script>

		<style>
			table {
				border: 1px solid gray;
				border-collapse: collapse;
			}
			table td {
				border: 1px solid gray;
			}

			.SyntaxHighlighter {
			/*	overflow-y: hidden !important;*/
			}

			button {
				padding: 8px;
			}
		</style>

	</head>
	<body class='container' ng-controller='audioDemo'>
	<div class='pin'>
		<a href="https://github.com/danielstern/ngAudio">View on Github</a>
	</div>

	<h1>Angular Audio</h1>
	<h2>Using the Directive to Play a Sound</h2>
	<p>
		You can play any sound that has been added to the DOM by adding ngAudio to any clickable element (like a button)
	</p>
	<pre class="brush: html; toolbar: false;">
&lt;audio id='click1'&gt;
	&lt;source src=&quot;audio/click.mp3&quot; type=&quot;audio/mp3&quot;&gt;
&lt;/audio&gt;

&lt;button ng-audio='click1'&gt;Click me and an embedded sound will play&lt;/button&gt;
		</pre>
	<button ng-audio='click1'>Click me and an embedded sound will play</button>
	<h3>Using a URL</h3>
		<p>
			Alternatively, you can specify a URL. In that case, the URL will be loaded, and then played.
		</p>

			<pre class="brush: html; toolbar: false;">
&lt;button ng-audio='audio/exit.mp3'&gt;I'll load a sound and then play it.&lt;/button&gt;			</pre>

		<audio ng-audio id='click1'>
		  <source src="audio/click.mp3" type="audio/mp3">
		</audio>

		<ng-audio id='click2' src='audio/click2.mp3'>
		</ng-audio>
		<div>
	
	</div>
	<div>
		<button ng-audio='audio/exit.mp3'>I'll load a sound and then play it.</button>
	</div>

	<h2>Using Code to Play Songs</h2>
	<pre class="brush: js; toolbar: false;">
<button ng-click="playSound('click2')">I play a sound by referring to the ID of an audio tag</button>

<audio id='click2' src='audio/click2.mp3'></audio>

<script>
angular.module('audioDemo',['ngAudio'])
.controller('audioDemo',function($scope,ngAudio){
	
	$scope.playSound = function(str) {
		ngAudio.play(str);
	}
</script>
	</pre>
	<button ng-click="playSound('click2')">I play a sound by referring to the ID of an audio tag</button>

	<h3>Specifying a URL with Code</h2>
	<p>The ngAudio provides a handy way to simply load a sound and play it.</p>
		<pre class="brush: js; toolbar: false;">
	<button ng-click="playSound('audio/click3.mp3')">I play a sound by referring to a url</button>

	<script>
	angular.module('audioDemo',['ngAudio'])
	.controller('audioDemo',function($scope,ngAudio){
		
		$scope.playSound = function(str) {
			ngAudio.play(str);
		}
	</script>
		</pre>
	<button ng-click="playSound('audio/click3.mp3')">I play a sound by referring to a url</button>

	<h2>Defining Special Properties with Directives</h2>
	<p>By using an ngAudio tag or attribute with or instead of an audio tag, you can declaratively add more functionality to a sound.</p>

	 	<pre class="brush: xml; toolbar: false;">
	 		&lt;ng-audio
			 id='song3' 
			 song
			 volume='0.4' 
			 startAt=&quot;10&quot; 
			 src='audio/song3.mp3'&gt;
			&lt;/ng-audio&gt;

			<button ng-audio='song3'>I play a sound with special properties written into the HTML.</button>
	</pre>

			<ng-audio
			 id='song3' 
			 song
			 volume='0.4' 
			 startAt="22" 
			 src='audio/song3.mp3'>
		</ng-audio>

		<button ng-audio='song3'>I play a sound with special properties written into the HTML.</button>

		<h4>
			Supported tags
		</h4>
		<table>
			<tr>
				<td>
					volume
				</td>
				<td>
					Specifies a starting volume.
				</td>
			</tr>
			<tr>
				<td>
					startAt
				</td>
				<td>
					Specifies a time for the song to start at.
				</td>
			</tr>
			<tr>
				<td>
					song
				</td>
				<td>
					Attribute specifies that audio is a song (for the purpose of not playing at the same time as other songs.)
				</td>
			</tr>
		</table>

	<h2>Muting Sound with Code</h2>
	<p>You can mute sounds by referring to their id or their url.</p>
	
	<pre class="brush: html; toolbar: false;">
<button ng-click="toggleMute('audio/exit.mp3')">
	I mute just button B's sound</button>
<button ng-click="toggleMute(['audio/exit.mp3','click2'])">
	And I mute A and B's sounds
</button>

<button ng-audio='click2'>A</button>
<button ng-audio='audio/exit.mp3'>B</button>	

<script>
angular.module('audioDemo',['ngAudio'])
.controller('audioDemo',function($scope,ngAudio){

	$scope.toggleMute = function(str) {
		ngAudio.toggleMute(str);
	}


});

</script>
</pre>
	<div>
		<button ng-click="toggleMute('audio/exit.mp3')">I mute just button B's sound</button>
		<button ng-click="toggleMute(['audio/exit.mp3','click2'])">
			And I mute A and B's sounds
		</button>
		<div>
		</div>
	</div>
		<div>
			<button ng-audio='click2'>A</button>
			<button ng-audio='audio/exit.mp3'>B</button>
		</div>
		<h3>Muting Globally</h3>
		<p>
			You can globally mute all audio, which will also mute any future sounds that are played.
		</p>
<pre class="brush: html; toolbar: false;">
<button ng-click='toggleMuteAll()'>I mute everything globally</button>

<script>
angular.module('audioDemo',['ngAudio'])
.controller('audioDemo',function($scope,ngAudio){

	$scope.toggleMuteAll = function() {
		ngAudio.toggleMuteAll();
		$scope.muting = !$scope.muting;
	};

});
</script>
</pre>

<button ng-click='toggleMuteAll()'>I mute everything globally</button>
<div ng-hide='!muting'>
	MUTING!!
</div>	

		<h2>Specifying a music track</h2>
		<p>You can define an audio clip as being a song. If it is a song, ngAudio will stop all other songs when it is played.</p>
<pre class="brush: html; toolbar: false;">
<button ng-audio='audio/song1.mp3'>
	I play a song
</button>
<button ng-audio='audio/song2.mp3'>
	And I play another song, but we don't play at the same time!
</button>

<script>
angular.module('audioDemo',['ngAudio'])
.controller('audioDemo',function($scope,ngAudio){

	ngAudio.isMusic(['audio/song1.mp3','audio/song2.mp3']);

});
</script>
</pre>
		<div>
			<button ng-audio='audio/song1.mp3'>I play a song</button>
			<button ng-audio='audio/song2.mp3'>
				And I play another song, but we don't play at the same time!
			</button>
			<h3>Globally Muting all Music</h3>
			<p>
				You can mute all music globally, which is not affected by global mute and unmute.
			<div>
<pre class="brush: html; toolbar: false;">
<button ng-click="toggleMuteAllSongs()">
	I mute all songs!
</button>

<script>
angular.module('audioDemo',['ngAudio'])
.controller('audioDemo',function($scope,ngAudio){

		$scope.toggleMuteAllSongs = function() {
		ngAudio.toggleMuteAllSongs();
	}
});
</script>
</pre>
			<button ng-click="toggleMuteAllSongs()">
				I mute all songs!
			</button>
		</div>
		</div>
	</div>
	</body>
</html>

<script>
//hljs.initHighlightingOnLoad();

angular.module('audioDemo',['ngAudio'])
.controller('audioDemo',function($scope,ngAudio){
	$scope.muting = false;
	$scope.toggleMuteAll = function() {
		ngAudio.toggleMuteAll();
		$scope.muting = !$scope.muting;
	};

	ngAudio.isMusic(['audio/song1.mp3','audio/song2.mp3']);

	$scope.toggleMuteAllSongs = function() {
		ngAudio.toggleMuteAllSongs();
	}

	$scope.toggleMute = function(str) {
		ngAudio.toggleMute(str);
	}

	$scope.playSound = function(str) {
		ngAudio.play(str);
	}


});

function path()
{
	var args = arguments,
		result = []
		;
		
	for(var i = 0; i < args.length; i++)
		result.push(args[i].replace('@', 'lib/syntax/'));
		
	return result
};
//	SyntaxHighlighter.all();
SyntaxHighlighter.autoloader.apply(null, path(
	'applescript			@shBrushAppleScript.js',
	'actionscript3 as3		@shBrushAS3.js',
	'bash shell				@shBrushBash.js',
	'coldfusion cf			@shBrushColdFusion.js',
	'cpp c					@shBrushCpp.js',
	'c# c-sharp csharp		@shBrushCSharp.js',
	'css					@shBrushCss.js',
	'delphi pascal			@shBrushDelphi.js',
	'diff patch pas			@shBrushDiff.js',
	'erl erlang				@shBrushErlang.js',
	'groovy					@shBrushGroovy.js',
	'java					@shBrushJava.js',
	'jfx javafx				@shBrushJavaFX.js',
	'js jscript javascript	@shBrushJScript.js',
	'perl pl				@shBrushPerl.js',
	'php					@shBrushPhp.js',
	'text plain				@shBrushPlain.js',
	'py python				@shBrushPython.js',
	'powershell ps posh		@shBrushPowerShell.js',
	'ruby rails ror rb		@shBrushRuby.js',
	'sass scss				@shBrushSass.js',
	'scala					@shBrushScala.js',
	'sql					@shBrushSql.js',
	'vb vbnet				@shBrushVb.js',
	'xml xhtml xslt html	@shBrushXml.js'
));
SyntaxHighlighter.all();

</script>