<script src='lib/angular.js'></script>
<script src='angular.audio.js'></script>

<script>
angular.module("ngAudioDemo", ['ngAudio'])
    .controller('Demo', function($scope, ngAudio) {
        var audio = ngAudio.load('audio/laser.mp3');
        var audio2 = ngAudio.load('audio/lid.mp3');
        $scope.audio3 = ngAudio.load('audio/lidz.mp3');
        $scope.audio1 = audio;
        $scope.audio2 = audio2;
    })
</script>

<body ng-app=ngAudioDemo ng-controller=Demo>
    <!-- <audio id='sword' src='audio/sword.mp3'></audio> -->
    <!-- <button ng-audio="audio/laser.mp3">remote</button> -->
    <!-- <button ng-audio="sword">local</button> -->
    <div ng-repeat="audio in [audio1,audio2,audio3]">
        <table>
            <tr ng-if="audio.error">
                <td>
                    <p>Error playing {{audio.src}}</p>
                </td>
            </tr>
            <tr>
                <td>
                    name
                </td>
                <td>
                    {{audio.src}}
                </td>
            </tr>
            <tr>
            	<td>progress</td>
            	<td>{{audio.progress}}</td>
            </tr>
            <tr>
                <td>
                    Time
                </td>
                <td>
                    :{{audio.currentTime | number : 2}}
                </td>
            </tr>
            <tr>
                <td>Remaining:</td>
                <td>{{audio.remaining | number : 2}}</td>
            </tr>
            <tr>
                <td>currentTime</td>
                <td>
                    <input type=range min=0 max=1 step=0.01 ng-model='audio.progress'>
                </td>
            </tr>
            <tr>
                <td>
                    <button ng-click='audio.play()'>play</button>
                </td>
                <td>
                    <button ng-click='audio.restart()'>restart</button>
                </td>
            </tr>
        </table>
    </div>
</body>
