<doctype html5>
<html ng-app='audioDemo'>
	<head>
		<title>Angular Audio Demo</title>
		<script src='lib/underscore.js'></script>
		<script src='lib/angular.js'></script>
		<script src='angular.audio.js'></script>
	</head>
	<body ng-controller='audioDemo'>

	<h1>Angular Audio</h1>
	<h2>Using the Directive to Play a Sound</h2>

		<audio ng-audio id='click1'>
		  <source src="audio/click.mp3" type="audio/mp3">
		</audio>

		<ng-audio id='click2' src='audio/click2.mp3'>
		</ng-audio>
		<div>
		<button ng-audio='click1'>Click me and a sound will play</button>
	</div>
	<div>
		<button ng-audio='click2'>Try clicking me for another audible surprise</button>
	</div>
	<div>
		<button ng-audio='audio/exit.mp3'>I'll play a sound that's not embedded in the document.</button>
	</div>

	<h2>Using Code to Play Songs</h2>
	TODO

	<h2>Defining Special Properties with Directives</h2>
		<ng-audio
			 id='song3' 
			 song
			 volume='0.4' 
			 startAt="10" 
			 src='audio/song3.mp3'>
		</ng-audio>

		<button ng-audio='song3'>I play a sound with special properties written into the HTML.</button>

	<h2>Mutings Sound with Code</h2>
	<div ng-hide='!muting'>
		MUTING!!
	</div>
	<div>
		<button ng-click="toggleMute('audio/exit.mp3')">I mute just button B's sound</button>
		<button ng-click="toggleMute(['audio/exit.mp3','click2'])">
			And I mute A and B's sounds
		</button>
		<div>
			<button ng-click='toggleMuteAll()'>I mute everything globally</button>
		</div>
	</div>
		<div>
			<button ng-audio='click2'>A</button>
			<button ng-audio='audio/exit.mp3'>B</button>
		</div>
		<h2>Specifying a music track</h2>
		<div>
			<button ng-audio='audio/song1.mp3'>I play a song</button>
			<button ng-audio='audio/song2.mp3'>
				And I play another song, but we don't play at the same time!
			</button>
			<div>
			<button ng-click="toggleMuteAllSongs()">
				And I mute all songs!
			</button>
		</div>
		</div>
	</div>
	</body>
</html>

<script>
angular.module('audioDemo',['ngAudio'])
.controller('audioDemo',function($scope,ngAudio){
	$scope.muting = false;
	$scope.toggleMuteAll = function() {
		ngAudio.toggleMuteAll();
		$scope.muting = !$scope.muting;
	};

	ngAudio.isMusic(['audio/song1.mp3','audio/song2.mp3'])

	$scope.toggleMuteAllSongs = function() {
		ngAudio.toggleMuteAllSongs();
	}

	$scope.toggleMute = function(str) {
		ngAudio.toggleMute(str);
	}

});
</script>