<!doctype html>
<html class="no-js">

<head>
    <meta charset="utf-8">
    <title>angular audio</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" href="/favicon.ico">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
</head>

<body>

    <body ng-app=ngAudioDemo ng-controller=Demo>
        <!-- <ngAudio id='sword' src='audio/sword.mp3'></ngAudio> -->
        <!-- <button ng-audio="audio/lid.mp3" volume=0.7 start=0.1>remote</button> -->
        <!-- <button ng-audio="sword">local</button> -->
        <div class='container'>
            <div ng-repeat="audio in audios">
                <!-- <div class="input-group"> -->
                <!-- <span class="input-group-addon"><i class="glyphicon glyphicon-cog"> </i> URL -->
                <!-- </span> -->
                <!-- <input type="text" class="form-control" disabled name="username" value="" ng-model='audio.src'> -->
                <p>
                    {{audio.src}}
                </p>
                <p ng-if=audio.error>
                    Error playing this sound.
                </p>
                <div ng-if=!audio.error>
                    <button class='btn btn-primary' ng-click='audio.paused ? audio.play() : audio.pause()'>{{audio.paused ? "Play" : "Pause" }}</button>
                    <button class='btn btn-danger' ng-click='audio.restart()'>Stop</button>
                    <button class='btn btn-neutral' ng-click='audio.muting ? audio.unmute() : audio.mute()'>{{audio.muting ? "Unmute" : "Mute" }}</button>
                </div>
                <div>
                    Current Time : {{audio.currentTime | number : 2}}
                </div>
                <div class='row'>
                    <!-- <label>{{audio.progress | number : 2}}</label> -->
                    <div class='col-md-8'>
                        <input type=range min=0 max=1 step=0.01 ng-model='progress'>
                    </div>
                </div>
                <!-- </div> -->

                <!-- <div class="input-group" ng-repeat="param in [audio.volume,audio.">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-cog"></i>
                    </span>
                    <input type="range" class="form-control" disabled name="username" value="" ng-model='audio.src'>
                </div> -->


                <!-- <table class='table'>
                    <tr ng-if="audio.error">
                        <td>
                            <p>Error playing {{audio.src}}</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-cog"></i>
                                </span>
                                <input type="text" class="form-control" disabled name="username" value="" ng-model='audio.src'>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Time
                        </td>
                        <td>
                            :{{audio.currentTime | number : 2}}
                        </td>
                    </tr>
                    <tr>
                        <td>Remaining:</td>
                        <td>{{audio.remaining | number : 2}}</td>
                    </tr>
                    <tr>
                        <td>progress</td>
                        <td>
                            <label>{{audio.progress | number : 2}}</label>
                            <input class='form-control' type=range min=0 max=1 step=0.01 ng-model='audio.progress'>
                        </td>
                    </tr>
                    <tr>
                        <td>volume</td>
                        <td>
                            <label for='volume'>{{audio.volume | number : 2}}</label>
                            <input name='volume' type=range min=0 max=1 step=0.01 ng-model='audio.volume'>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button class='btn btn-primary' ng-class="{'disabled':audio.error}" ng-click='audio.paused ? audio.play() : audio.pause()'>{{audio.paused ? "Play" : "Pause" }}</button>
                        </td>
                        <td>
                            <button class='btn btn-danger' ng-click='audio.restart()'>Stop</button>
                        </td>
                        <td>
                            <button class='btn' ng-click='audio.muting ? audio.unmute() : audio.mute()'>{{audio.muting ? "Unmute" : "Mute" }}</button>
                        </td>
                    </tr>
                </table> -->
            </div>
        </div>
    </body>



    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="angular.audio.js"></script>
    <!-- endbower -->
    <!-- endbuild -->


    <!-- build:js({app,.tmp}) scripts/main.js -->
    <script src="scripts/main.js"></script>
    <!-- endbuild -->
</body>

</html>


<script>
angular.module("ngAudioDemo", ['ngAudio'])
    .controller('Demo', function($scope, ngAudio) {
        $scope.audios = [
            ngAudio.load('audio/laser.mp3'),
            ngAudio.load('audio/lid.mp3'),
            ngAudio.load('sword')

        ]
    })
</script>
