<!doctype html>
<html class="no-js">

<head>
    <meta charset="utf-8">
    <title>angular audio</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" href="/favicon.ico">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
</head>

<body>

    <body ng-app=ngAudioDemo ng-controller=Demo class='container'>
        <!-- <ngAudio id='sword' src='audio/sword.mp3'></ngAudio> -->
        <!-- <button ng-audio="audio/lid.mp3" volume=0.7 start=0.1>remote</button> -->
        <!-- <button ng-audio="sword">local</button> -->
        <div class='jumbotron'>
            <h2>ngAudio - the angular audio tool</h2>
        </div>
        <div class='col-md-4'>
            Hello
        </div>
        <div class='container'>
            <div ng-repeat="audio in audios">
                <div class='col-md-8'>
                    <div class=col-md-offset-4>
                        <p>
                            {{audio.id}}
                        </p>
                        <p ng-if=audio.error>
                            Error playing this sound.
                        </p>
                        <p ng-if=!audio.canPlay>
                            Sound is loading...
                        </p>
                    </div>
                    <div ng-if=!audio.error && audio.canPlay
                        <div class='form-group col-md-8 col-md-offset-4'>
                            <button class='btn btn-primary' ng-click='audio.paused ? audio.play() : audio.pause()'>{{audio.paused ? "Play" : "Pause" }}</button>
                            <button class='btn btn-danger' ng-click='audio.restart()'>Stop</button>
                            <button class='btn btn-neutral' ng-click='audio.muting ? audio.unmute() : audio.mute()'>{{audio.muting ? "Unmute" : "Mute" }}</button>
                        </div>

                        <form class='form-horizontal'>
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="prependedtext">Current Time</label>
                                <div class="col-md-8">
                                    <div class="input-group">
                                        <span class="input-group-addon">Current Time</span>
                                        <input class='form-control' type=number min=0 max=1 step=0.01 ng-model='audio.currentTime'>
                                    </div>
                                    <p class="help-block">Stuff about current time</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="prependedtext">Progress</label>
                                <div class="col-md-8">
                                    <div class="input-group">
                                        <span class="input-group-addon">Progress</span>
                                        <!-- {{audio.progress * 100 | number : 0}}% -->
                                        <input class='form-control' type=range min=0 max=1 step=0.01 ng-model='audio.progress'>
                                    </div>
                                    <p class="help-block">Stuff...</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="prependedtext">Volume</label>
                                <div class="col-md-8">
                                    <div class="input-group">
                                        <span class="input-group-addon">Volume</span>
                                        <input class='form-control' type=range min=0 max=1 step=0.01 ng-model='audio.volume'>
                                    </div>
                                    <p class="help-block">Stuff...</p>
                                </div>
                            </div>
                    </div>
                    </form>
                </div>
                <div class='col-md-4' ng-if=!audio.error>
                    <table class='table table-striped table-bordered table-condensed'>
                        <tr>
                            <td>
                                src
                            </td>
                            <td>
                                {{audio.src}}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Current Time
                            </td>
                            <td>
                                {{audio.currentTime | number : 2}}
                            </td>
                        </tr>
                        <tr>
                            <td>Duration</td>
                            <td>{{audio.duration | number : 2}}</td>
                        </tr>
                        <tr>
                            <td>Progress (%)</td>
                            <td>{{audio.progress | number : 1}}</td>
                        </tr>
                        <tr>
                            <td>Volume</td>
                            <td>{{audio.volume | number : 1}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </body>



    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="angular.audio.js"></script>
    <!-- endbower -->
    <!-- endbuild -->


    <!-- build:js({app,.tmp}) scripts/main.js -->
    <script src="scripts/main.js"></script>
    <!-- endbuild -->
</body>

</html>


<script>
angular.module("ngAudioDemo", ['ngAudio'])
    .controller('Demo', function($scope, ngAudio) {
        $scope.audios = [
            ngAudio.load('audio/beer-pour-glass.mp3'),
            ngAudio.load('audio/candy-bag-rustle.mp3'),
            ngAudio.load('audio/falling-whistle.mp3'),
            ngAudio.load('audio/ice-cubes-clink.mp3'),
            ngAudio.load('audio/marker-writing.mp3'),
            ngAudio.load('audio/magic-chime.mp3'),
            ngAudio.load('audio/van-large-pass-by.mp3'),

        ]
    })
</script>
